/* ===================================
========= register page  */
.form-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../public/images/logintry.jpeg');
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 100%;
}

.form-container form {
  box-shadow: rgba(248, 181, 115, 0.35) 0px 5px 15px;
  padding: 20px;
  /* background: transparent; */
  background-color: rgba(24, 11, 1, 0.2);
  border-radius: 10px;
  
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #000;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background-color: transparent;

  
}

.form-container form input:focus{
  margin : 0;
  background-color: transparent;
  outline-color: transparent;
  /* box-shadow: none; */
  box-shadow: 0 0 5px 3px rgba(255, 213, 173, 0.5);
  outline: none; 
  border-bottom: 1px solid #000;
  
}

.form-container form input::placeholder {
  color: #000000; 
}

.form-container form input:focus::placeholder {
  color: #ccc;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}
