.banner-img {
  margin-top: 11vh;
  max-width: 70%;
  height: 73vh;
  margin-left: 15vw;
  border-radius: 0px;
  border: 5px solid transparent;
  padding: 5px;
  background: linear-gradient(to bottom right, rgb(255, 231, 200), #d0fafa);
  z-index: 1; /* Ensure banner is behind navbar */
  
}

.banner {
  background: linear-gradient(to bottom right, #d0fafa, #f6ded7);
  border-radius: 0px;
  
}


/* .home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
  margin-top: -120px;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
} */

.home-page {
  /* background: linear-gradient(to bottom right, #d0fafa, #f6ded7); */
  padding: 20px; /* Add some padding to space out the content */
  background: url("../../public/images/decoration.jpeg");
  /* filter: blur(5px); */
}

.home-page h1 {
  color: gray; /* Match the color to the banner */
  font-family: "Playfair Display", serif;
  margin-top: 20px; /* Adjust margin to fit with the padding */
}

.home-page .card {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  
  width: 18rem;
  margin-bottom: 20px; /* Add some space between cards */
}

.home-page .card-text {
  color: rgb(90, 89, 89); /* Match the text color to the banner */
}

.home-page .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect on hover */
}

.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* .home-page .card-text {
  color: rgb(90, 89, 89);
} */

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
/* .filters h4 {
  margin-top: 0px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
} */

.filters {
  /* From https://css.glass */
background: rgba(246, 222, 215, 0.09);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(245, 200, 200, 0.1);
backdrop-filter: blur(40px);
height: 500px;
-webkit-backdrop-filter: blur(17.5px);
/* border: 1px solid rgba(246, 222, 215, 0.04); */
  background: linear-gradient(to bottom right, #d0fafa, #fbf9d2, 0.5); 
  padding: 20px; /* Add some padding to space out the content */
  /*border-radius: 800px; /* Add a subtle border-radius for consistency */
}

.filters h4 {
  margin-top: 0px;
  color: gray !important; /* Match the text color to the banner */
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.filters button {
  background-color: black; /* Match the button color to the banner */
  color: white; /* Match the text color to the banner */
  width: 100%;
  border: none;
  border-radius: 5px; /* Add a subtle border-radius for consistency */
  margin-top: 20px;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}



.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
